body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}

button {
  appearance: inherit;
  background: inherit;
  color: inherit;
  font: inherit;
  line-height: inherit;
  border: inherit;
  display: block;
  padding: inherit;
  padding: inherit;
}
