body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

button {
  appearance: inherit;
  background: inherit;
  color: inherit;
  font: inherit;
  line-height: inherit;
  border: inherit;
  display: block;
  padding: inherit;
  padding: inherit;
}

h3, .h3 {
  font-weight: bold;
  margin: 0 0 0.5rem 0;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--color-8);
  border-bottom: 1px solid var(--color-8);
  padding-bottom: 0.2rem;
}
